<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

</style>
</head>
<body>

<table >
  <tr>

    <td><img href= "/{{ data.img1}}" src="/{{ data.img1}}" height="200" width="250" /></td>
    <td><img href= "/{{ data.img1}}" src="/{{ data.img1}}" height="200" width="250" /></td>		
    <td><img href= "/{{ data.img1}}" src="/{{ data.img1}}" height="200" width="250" /></td>
  </tr>
  <tr>
    <td><img href= "/{{ data.img1}}" src="/{{ data.img1}}" height="200" width="250" /></td>
    <td><img href= "/{{ data.img1}}" src="/{{ data.img1}}" height="200" width="250" /></td>		
    <td><img href= "/{{ data.img1}}" src="/{{ data.img1}}" height="200" width="250" /></td>
  </tr>
  <tr>
    <td><img href= "/{{ data.img1}}" src="/{{ data.img1}}" height="200" width="250" /></td>
    <td><img href= "/{{ data.img1}}" src="/{{ data.img1}}" height="200" width="250" /></td>		
    <td><img href= "/{{ data.img1}}" src="/{{ data.img1}}" height="200" width="250" /></td>

  </tr>
</table>

<p>Try to change the padding to 5px.</p>

</body>
</html>
